[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xss-lock i3lock-fancy

[Install]
WantedBy=graphical.target
