[submodule ".vim/pack/neocomplete/start"]
	path = .vim/pack/neocomplete/start
	url = https://github.com/shougo/neocomplete.vim
[submodule ".vim/pack/airline/start"]
	path = .vim/pack/airline/start
	url = https://github.com/vim-airline/vim-airline
