# Ignore all by default
*

# Explicitly included files
!.Xdefaults
!.bash_logout
!.bash_profile
!.bash_public
!.bashrc
!.config/compton.conf
!.config/dmenurc
!.config/dunst/dunstrc
!.config/gtk-3.0/settings.ini
!.config/htop/htoprc
!.config/i3/bg.jpg
!.config/i3/config
!.config/i3blocks/config
!.config/mpd/mpd.conf
!.config/mpv/input.conf
!.config/mpv/mpv.conf
!.config/ncmpcpp/config
!.config/neofetch/config
!.config/nitrogen/bg-saved.cfg
!.config/packages/
!.config/psd/psd.conf
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/scope.sh
!.config/tdm/
!.config/udiskie/config.yml
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.config/volumeicon/volumeicon
!.config/yaourt/yaourtrc
!.config/zathura/zathurarc
!.gitconfig
!.gitignore
!.gitmodules
!.gtkrc-2.0
!.icons/oomox-Grayscale-Dark-flat/
!.inputrc
!.msf4/database.yml
!.themes/oomox-Grayscale-Dark/
!.vimrc
!.vim/
!.xinitrc
